.chip{
  display: flex;
  justify-content: space-between;
  background-color: rgb(174, 173, 173);
  width: 20vw;
  height: 20px;
  padding:5px;
  margin-top:10px;
  margin-bottom:10px;
  border-radius: 20px;
}
.cross{
  margin-right: 5px;
}
.cross:hover{
  cursor: pointer;
  font-size: large;
  font-weight: 700;
}
.item{
  background-color: rgb(174, 173, 173);
  width: 20vw;
  height: 20px;
  padding:5px;
  margin-top:10px;
  margin-bottom:10px;
  border-radius: 20px;
}
.item:hover{
  cursor: pointer;
  background-color: rgb(218, 218, 218);
}
